<% include ./partials/header %>
<div class="ui main text">
	<div class="ui huge header"><%=blogs.title%></div>
	<img src="<%=blogs.image%>">
	<p><%=blogs.body%></p>
	<span><%=blogs.created.toDateString()%></span>
	<a class="ui orange basic button" href="/blogs/<%=blogs._id%>/edit">Edit</a>
 <form action ="/blogs/<%=blogs._id%>?_method=DELETE" method="POST">
	<button class="ui red basic button">Delete</button>
</form>
</div>
<% include ./partials/footer%>
